.max-height {
    min-height: 100vh;
    background-image: url('./images/bg-image.jpg');
}
.title-heading {
    color: coral;
}
.title-subheading{
    color: #fff;
}
.customer-card {
    background: transparent !important;
    color:white;
    border:1px solid white;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
   
}
.img-card {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: -50px;
}
.star-icon {
    color: coral;
}
.quote-icon {
    color: coral;
    font-size: 20px;
}
.btnPrev, .btnNext {
    font-size: 20px;
    color: coral;
    padding:10px;
    border: 1px solid coral;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}
.btnPrev:hover{
    background-color: black;
    color: white;
}
.btnNext:hover{
    background-color: black;
    color:white;
}
.btnPrev{
    top: 50%;
    left:0;
}
.btnNext {
    top:50%;
    right:0;
}